@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.navbar img {
  width: 65px;
  cursor: pointer;
  margin-left: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-right: 200px;
  margin-bottom: 0;
  cursor: pointer;
}

.navbar li:hover {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.portfolio a img {
  width: 15px;
  color: gray;
  margin: 0;
}

.portfolio a {
  text-decoration: none;
  color: black;
}
.portfolio a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#banner img {
  object-fit: cover;
  height: 90vh;
  width: 100%;
  opacity: 0.6;
}

.container-text {
  position: absolute;
  top: 300px;
  width: 40%;
  right: 0px;
  z-index: 1;
}
.container-text h1 {
  width: 90%;
  font-weight: 700;
  color: #000;
}
.container-text p {
  color: #000;
  font-weight: 500;
  width: 80%;
  text-align: center;
}
.container-text .btn {
  font-family: monospace;
  font-size: 1.2rem;
  color: #000;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000;
  background: transparent;
  box-shadow: 3px 3px #000;
  cursor: pointer;
  margin: 35px 0;
  letter-spacing: 2px;
  font-weight: bold;
}
.container-text .btn:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

#dogsForAdoption {
  display: grid;
  justify-items: center;
}
#dogsForAdoption h2 {
  background-color: #000;
  margin-top: 50px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
  width: 35vw;
  position: relative;
  top: 20px;
  color: #fff;
}

#divContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  justify-items: center;
  margin-top: 40px;
}
#divContainer article {
  margin-top: 20px;
  width: 90%;
}

.block {
  text-decoration: none;
}
.block img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.span {
  display: flex;
  position: relative;
  justify-content: center;
  top: 340px;
}
.span button {
  --color: #000;
  padding: 0.4em 1.2em;
  background-color: #fff;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}
.span button::before,
.span button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}
.span button::before {
  top: -1em;
  left: -1em;
}
.span button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.span button:hover::before,
.span button:hover::after {
  height: 410px;
  width: 410px;
}
.span button:hover {
  color: #fff;
  font-weight: bold;
  border-color: #000;
}
.span button:active {
  filter: brightness(0.8);
}

.box {
  margin-top: 50px;
  display: inline-block;
  border-radius: 30px;
  background-color: #000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
}
.box span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.box span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.box:hover span {
  padding-right: 15px;
}

.box:hover span:after {
  opacity: 1;
  right: 0;
}

.banner-md {
  margin-top: 100px;
  display: flex;
}
.imageContainer {
  position: relative;
  top: 60px;
  width: 50%;
  z-index: 1;
}
.banner-md img {
  margin-left: 30px;
  object-fit: cover;
  height: 80vh;
  width: 100%;
}
.containerText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: gainsboro;
  width: 50%;
  gap: 20px;
  height: 100vh;
  margin-right: 30px;
}
.containerText h2 {
  font-size: 30px;
  font-weight: bold;
  width: 75%;
}
.containerText .lorem {
  width: 70%;
  font-size: 14px;
  text-align: justify;
  color: gray;
}

.containerText button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.containerText button {
  --primary-color: #111;
  --hovered-color: #d47023;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}
.containerText button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}
.containerText button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}
.containerText button p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Suscribete";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}
.containerText button:hover::after {
  width: 100%;
}
.containerText button:hover p::before {
  width: 100%;
}
.containerText button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}
.containerText button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

.adoptedDogs {
  display: grid;
  justify-items: center;
  margin-top: 30px;
}
.adoptedDogs h2 {
  background-color: #000;
  margin-top: 50px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
  width: 35vw;
  position: relative;
  top: 20px;
  color: #fff;
}
#containerDogs {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  justify-items: center;
  margin-top: 40px;
}
#containerDogs article {
  display: grid;
  margin-top: 20px;
  width: 90%;
  justify-items: center;
}
#containerDogs article img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
#containerDogs article button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  position: relative;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  top: -10px;
}

#containerDogs article button span {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.3em 0.9em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

#containerDogs article button:hover span {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

#containerDogs article button:active span {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.uploadingDog {
  margin-top: 50px;
  display: grid;
  justify-items: end;
  align-items: center;
  height: 80vh;
  object-fit: cover;
}
.uploadingDog img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.uploadingDog form {
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(239, 223, 223, 0.74),
    rgba(253, 252, 255, 0.85)
  );
  border-radius: 10px;
  height: 55vh;
  width: 30vw;
  position: absolute;

  opacity: 0.8;
  text-align: center;
  gap: 15px;
}
.uploadingDog form h2 {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 900;
}
.uploadingDog form h4 {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: 400;
}
.inputFile {
  display: none;
}
.inputFile + label {
  display: flex;
  margin-top: 20px;
}
.inputFile__inputFile-name,
.inputFile__inputFile-button {
  font-size: 12px;
  padding: 10px 12px;
}
.inputFile__inputFile-name {
  background: #6b6767;
  border: 1px solid #cacaca;
}
.inputFile__inputFile-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
}
.inputFile__inputFile-button:hover {
  background-color: #d47023;
  font-weight: bold;
}
.inputFile__inputFile-button svg {
  width: 20px;
}

.uploadingDog button {
  margin-top: 50px;
  width: 6.5em;
  height: 2.3em;

  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.uploadingDog button:hover {
  color: black;
}
.uploadingDog button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.uploadingDog button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer {
  padding: 20px 50px;
  background: #151b28;
  color: #fff;
}
.footerSection {
  display: flex;
  justify-content: space-around;
}
.firstContainer h3 {
  letter-spacing: 1.5px;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
}
.firstContainer li {
  font-size: 14px;
  margin: 0;
  text-decoration: dashed;
  margin-top: 10px;
}
.secondContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}
.secondContainer ul {
  font-weight: bold;
  font-size: 20px;
}
.secondContainer ul li {
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  margin-top: 5px;
}
.socialNetworks {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.socialNetworks a {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.socialNetworks svg {
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (max-width: 890px) {
  .navbar ul {
    margin-right: 20px;
  }
  .container-text p {
    text-align: justify;
    width: 90%;
  }
  #divContainer {
    grid-template-columns: 33% 33% 33%;
  }
  #containerDogs {
    grid-template-columns: 33% 33% 33%;
  }
  .uploadingDog form {
    width: 50vw;
    padding: 8px 6px;
  }
  .uploadingDog form h4 {
    font-size: 16px;
  }
}
